:root {
  font-family:
    Inter,
    system-ui,
    Avenir Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.play-area {
  text-align: center;
  place-items: center;
}

.board {
  border: 20px solid #5b4416;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: fit-content;
  background-color: #a77e29;
}

.control-row {
  border: 8px solid transparent;
  place-items: center;
}

button {
  border: 9px transparent;
  border-radius: 7px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  font-weight: 500;
  background: #1a1a1a;
  transition: border-color 0.25s;
}

button:hover {
  background: #bfbfbf;
}

#dice {
  border: 1px transparent;
  width: fit-content;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.column {
  width: 50px;
  height: 200px;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: none;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.triangle.top {
  left: 0;
  bottom: 0;
}

.triangle.bottom {
  left: 0;
  top: 0;
}

.triangle.top.odd {
  border-top: 200px solid tan;
  border-bottom: none;
}

.triangle.top.even {
  border-top: 200px solid brown;
  border-bottom: none;
}

.triangle.bottom.odd {
  border-top: none;
  border-bottom: 200px solid tan;
}

.triangle.bottom.even {
  border-top: none;
  border-bottom: 200px solid brown;
}

.piece-list {
  z-index: 2;
}

.piece-list.top {
  justify-conent: flex-start;
}

.piece-list.bottom {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-group-top {
  display: flex;
  flex-direction: row;
}

.column-group-bottom {
  display: flex;
  flex-direction: row-reverse;
}

.column.top {
  justify-content: flex-start;
}

.column.bottom {
  justify-content: flex-end;
}

.top-row {
  justify-content: flex-start;
}

.bottom-row {
  justify-content: flex-end;
}

.home {
  width: 100px;
  height: 200px;
  background-color: #6a501a;
  border: none;
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: none;
}

.jail {
  width: 50px;
  height: 200px;
  background-color: #6a501a;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#black-jail {
  border-top: 1px solid darkgray;
}

#white-jail {
  border-bottom: 1px solid darkgray;
}

.piece {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.piece.black {
  background-color: black;
}

.piece.white {
  background-color: white;
}

.highlighted {
  background-color: yellow;
}

.error-display {
  position: absolute;
}

#none-home {
  height: 100px;
  width: 100px;
}

#none-jail {
  height: 100px;
}

.empty-space {
  width: 300px;
  height: 100px;
}
