<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backgammon</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <div class="board">
      <div id="black-home" class="home"></div>
      <div id="top-left">
        <div id="column-0" class="column odd">
          <div class="piece white"></div>
          <div class="piece white"></div>
        </div>
        <div id="column-1" class="column even"></div>
        <div id="column-2" class="column odd"></div>
        <div id="column-3" class="column even"></div>
        <div id="column-4" class="column odd"></div>
        <div id="column-5" class="column even">
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
        </div>
      </div>
      <div id="white-jail" class="jail"></div>
      <div id="top-right">
        <div id="column-6" class="column odd"></div>
        <div id="column-7" class="column even">
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
        </div>
        <div id="column-8" class="column odd"></div>
        <div id="column-9" class="column even"></div>
        <div id="column-10" class="column odd"></div>
        <div id="column-11" class="column even">
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
        </div>
      </div>
      <div id="white-home" class="home"></div>
      <div id="bottom-left">
        <div id="column-18" class="column odd">
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
        </div>
        <div id="column-19" class="column even"></div>
        <div id="column-20" class="column odd"></div>
        <div id="column-21" class="column even"></div>
        <div id="column-22" class="column odd"></div>
        <div id="column-23" class="column even">
          <div class="piece black"></div>
          <div class="piece black"></div>
        </div>
      </div>
      <div class="jail black"></div>
      <div id="bottom-right">
        <div id="column-12" class="column odd">
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
          <div class="piece black"></div>
        </div>
        <div id="column-13" class="column even"></div>
        <div id="column-14" class="column odd"></div>
        <div id="column-15" class="column even"></div>
        <div id="column-16" class="column odd">
          <div class="piece white"></div>
          <div class="piece white"></div>
          <div class="piece white"></div>
        </div>
        <div id="column-17" class="column even"></div>
      </div>
    </div>
  </body>
</html>
